/* iPad 12.9 */
@media screen and (max-width: 1113px) {
  body {
    background-color: black;
  }
  .appbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: white;
  }
  /* The hero image Landingpage*/
  .hero-image {
    height: 700px;
    background-image: url(https://images.unsplash.com/photo-1457460866886-40ef8d4b42a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .hero-button {
    background-color: white;
    color: black;
  }

  /* The hero images Menupage*/
  .hero-conatiner {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    gap: 2rem;
  }
  .menuhero-one {
    height: 400px;
    width: 500px;
    background-image: url(https://images.unsplash.com/photo-1551782450-17144efb9c50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1738&q=80);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .menuhero-two {
    height: 400px;
    width: 500px;
    background-image: url(https://images.unsplash.com/photo-1594212699903-ec8a3eca50f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1742&q=80);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .menuhero-three {
    height: 400px;
    width: 500px;
    background-image: url(https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1744&q=80);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .menuhero-four {
    height: 400px;
    width: 500px;
    background-image: url(https://images.unsplash.com/photo-1652209911920-2700fcbd5011?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=692&q=80);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .menuhero-five {
    height: 400px;
    width: 500px;
    background-image: url(https://images.unsplash.com/photo-1561758033-48d52648ae8b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .menuhero-six {
    height: 400px;
    width: 500px;
    background-image: url(https://images.unsplash.com/photo-1631143070457-c1aecc92abbc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fGRvbnV0c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .menuhero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: white;
    font-weight: bolder;
    font-size: larger;
  }
  /* footer */
  .footer-container {
    background-color: black;
    color: white;
  }
  .footertext-container {
    display: flex;
    gap: 1rem;
  }
  .bg {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .border {
    width: 80%;
    /* max-width: 800px; */
    text-transform: uppercase;
    color: #ffc053;
    display: grid;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: solid;
    border-color: #ed6c02;
    border-radius: 1%;
  }

  .lib-books-container {
    padding: 1rem;
    display: flex;
    /* max-width: 450px; */
    flex-flow: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 50px;
  }

  .li-book {
    width: 10px;
  }
}
